<div class="panel panel-default">
    <div class="panel-heading">
        <div class="media album-list-item">
            <div class="media-left">
                {{#play-queue-helper replace=true play=true type="album" objectId=album.id}}<img src="/assets/images/albumicon.svg">{{/play-queue-helper}}
            </div>
            <div class="media-body">
                <h4>{{album.album}}</h4>
                {{album.albumartist}}
            </div>
            <div class="media-right">
                {{album.year}}
            </div>
        </div>
    </div>
    <div class="btn-group-panel btn-group btn-group-justified">
        <div class="btn btn-default" {{action "send" false false "album" false album.id}}>
            {{fa-icon "plus"}} Add to queue
        </div>
        <div class="btn btn-default" {{action "send" false true "album" false album.id}}>
            {{fa-icon "plus"}} {{fa-icon "play"}} Add and play
        </div>
        <div class="btn btn-default" {{action "send" true true "album" false album.id}}>
            {{fa-icon "recycle"}} {{fa-icon "play"}} Replace and play
        </div>
    </div>
    <table class="table relaxed table-hover">
        <thead>
        </thead>
        <tbody>
            {{#if loading}}
                <tr>
                    <td colspan=3>
                        <i class="fa fa-spinner fa-spin fa-2x"></i>
                    </td>
                </tr>
            {{/if}}
            {{#each tracks as |track|}} 
                {{#context-menu-zone class="pointer-cursor" tagName="tr" type="track" objectId=track.id action=(action "send" false true "track" true track.id)}}
                    <td class="track">
                        {{track.track}}
                    </td>
                    <td>
                        {{track.title}}                    
                    </td>
                    <td class="duration">
                        {{format-duration track.length "sec"}}
                    </td>
                {{/context-menu-zone}}
            {{/each}}
        </tbody>
    </table>
</div>
