<div class="panel panel-default">
    <div class="panel-heading">
        <div class="media">
            <div class="media-left">
                {{#bs-dropdown}}
                    {{#bs-dropdown-toggle}}
                        {{fa-icon "caret-down" size=4}}
                    {{/bs-dropdown-toggle}}
                    {{#bs-dropdown-menu}}
                        <li>{{#play-queue-helper replace=true play=true type="album" objectId=album.id}}Replace queue and play{{/play-queue-helper}}</li>
                        <li>{{#play-queue-helper replace=false play=true type="album" objectId=album.id}}Add to queue and play{{/play-queue-helper}}</li>
                        <li>{{#play-queue-helper replace=true play=false type="album" objectId=album.id}}Replace queue{{/play-queue-helper}}</li>
                        <li>{{#play-queue-helper replace=false play=false type="album" objectId=album.id}}Add to queue{{/play-queue-helper}}</li>
                        <li>{{#link-to "album" album.id (query-params play=null)}}View album{{/link-to}}</li>
                    {{/bs-dropdown-menu}}
                {{/bs-dropdown}}
            </div>
            <div class="media-left">
                {{#link-to "album" album.id}}
                    <img src="/assets/images/albumicon.svg">
                {{/link-to}}
            </div>
            <div class="media-body">
                <h4>{{album.album}}</h4>
                {{album.albumartist}}
            </div>
            <div class="media-right">
                {{album.year}}
            </div>
        </div>
    </div>
    <table class="table relaxed table-hover">
        <tbody>
            {{#each tracks as |track|}} 
                <tr class={{if (is-equal track hifi.currentSound.track) "nowrap active" "nowrap"}}>
                    <td class="col-caret">
                        {{#bs-dropdown}}
                            {{#bs-dropdown-toggle}}
                                {{fa-icon "caret-down"}}
                            {{/bs-dropdown-toggle}}
                            {{#bs-dropdown-menu}}
                                <li>{{#play-queue-helper replace=true play=true type="track" objectId=track.id}}Replace queue and play{{/play-queue-helper}}</li>
                                <li>{{#play-queue-helper replace=false play=true type="track" objectId=track.id}}Add to queue and play{{/play-queue-helper}}</li>
                                <li>{{#play-queue-helper replace=true play=false type="track" objectId=track.id}}Replace queue{{/play-queue-helper}}</li>
                                <li>{{#play-queue-helper replace=false play=false type="track" objectId=track.id}}Add to queue{{/play-queue-helper}}</li>
                            {{/bs-dropdown-menu}}
                        {{/bs-dropdown}}
                    </td>
                    <td class="track">
                        {{#if (is-equal track hifi.currentSound.track)}}
                            {{fa-icon "volume-up"}}
                        {{/if}}
                        {{track.track}}
                    </td>
                    <td>{{track.title}}</td>
                    <td class="duration">{{format-duration track.length "sec"}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
