<div id="context-menu">
    {{#if cMenu.isShown}}
        <ul class="dropdown-menu" style="display:block">
            <li>
                <a {{action "send" false false cMenu.type false cMenu.objectId}}>
                    {{fa-icon "plus"}} Add to queue
                </a>
            </li>
            <li>
                <a {{action "send" false true cMenu.type false cMenu.objectId}}>
                    {{fa-icon "plus"}} {{fa-icon "play"}} Add and play
                </a>
            </li>
            <li>
                <a {{action "send" true true cMenu.type false cMenu.objectId}}>
                    {{fa-icon "recycle"}} {{fa-icon "play"}} Replace and play
                </a>
            </li>
        </ul>
    {{/if}}
</div>
