<div id="sidebar-wrapper">
    <div class="sidebar-heading">
        {{music-player}}
        <div class="spacer1">
        </div>    
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a {{action "toggle" "shuffle"}} class={{if queue.shuffle "btn btn-primary active" "btn btn-primary"}}>
                {{fa-icon "random"}}
            </a>
            <a {{action "toggle" "repeat"}} class={{if queue.repeat "btn btn-primary active" "btn btn-primary"}}>
                {{fa-icon "repeat"}}
            </a>
            <a {{action "toggle" "continue"}} class={{if queue.continue "btn btn-primary active" "btn btn-primary"}}>
                {{fa-icon "arrow-circle-o-right"}}
            </a>
            <a {{action "emptyQueue"}} class="btn btn-primary">
                {{fa-icon "recycle"}}
            </a>
        </div>  
    </div>
    <div class="sidebar-body">
        <div class="sidebar-nav panel">
            <div class="list-group">
                {{#each queue.items as |item|}}
                    <a {{action "switchTrack" item.index}} id={{format-item-id item.index}} class={{if (is-equal item.index queue.playingIndex) "nowrap active list-group-item" "nowrap list-group-item"}}>
                        {{#if (is-equal item.index queue.playingIndex)}}{{/if}}{{item.track.artist}} - {{item.track.title}}
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>
