<div class="song-info">
    {{#if hifi.currentSound}} 
        <div class="media nowrap">
            <div class="media-body">
                <h4 class="media-heading">{{hifi.currentSound.track.title}}</h4>
                {{hifi.currentSound.track.artist}}
            </div>
            <div class="media-right">
                {{format-duration hifi.position}} / {{format-duration hifi.duration}}
            </div>
        </div>
    {{else}}
        <div class="media nowrap">
            <div class="media-body">
                <h4 class="media-heading">No track is playing </h4>
                -
        </div>
        </div>
    {{/if}}
    {{track-progress class="track-progress" position=hifi.position duration=hifi.duration}}
</div>
<div class="btn-group btn-group-justified">
    <a {{action "previous"}} type="button" class="btn btn-primary">
        {{fa-icon "step-backward"}}
    </a>
    {{#if hifi.isPlaying}}
        <a {{action "pause"}} type="button" class="btn btn-primary">
        {{fa-icon "pause"}}
        </a>
    {{else}}
        <a {{action "play"}} type="button" class="btn btn-primary">
        {{fa-icon "play"}}
        </a>
    {{/if}}
    <a {{action "skip"}} type="button" class="btn btn-primary">
        {{fa-icon "step-forward"}}
    </a>
</div>
