<span class="btn-group navbar-btn navbar-left">
    {{#if hifi.isPlaying}}
        <button {{action "pause"}} type="button" class="btn btn-primary">
            {{fa-icon "pause" fixedWidth=true}}
        </button>
    {{else}}
        <button {{action "play"}} type="button" class="btn btn-primary">
            {{fa-icon "play" fixedWidth=true}}
        </button>
    {{/if}}
    <button {{action "skip"}} type="button" class="btn btn-primary">
        {{fa-icon "step-forward" fixedWidth=true}}
    </button>
</span>
<span class="navbar-left navbar-btn">
    <button class="btn btn-primary" type="button" {{action "toggleMute"}}>
    {{#if queue.muted}}
        {{fa-icon "volume-off" fixedWidth=true}}
    {{else}}
        {{fa-icon "volume-up" fixedWidth=true}}
    {{/if}}
    </button>
</span>
<span class="navbar-text">
    <span>{{hifi.currentSound.track.artist}} {{hifi.currentSound.track.title}}</span>
    <span>{{format-duration hifi.position}} / {{format-duration hifi.duration}}</span>
</span>
