<div class="panel panel-default">
    <div class="list-group">
        {{#each model key="id" as |album|}} 
            {{#context-menu-zone type="album" objectId=album.id}}
            <div href="#" class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        {{#play-queue-helper replace=true play=true type="album" objectId=album.id}}<img src="/assets/images/albumicon.svg">{{/play-queue-helper}}
                    </div>
                    <div class="media-body" {{action "toggleAlbum" album.id}}>
                        <h4>{{album.album}}</h4>
                        {{album.albumartist}}
                    </div>
                    <div class="media-right">
                        {{album.year}}
                    </div>
                </div>
            </div>
            {{/context-menu-zone}}
        {{/each}}
    </div>
{{#bs-modal open=showAlbum footer=false}}
    {{#if selectedAlbum}}
        {{album-view albumId=selectedAlbum}}
    {{/if}}
{{/bs-modal}}
</div>
