<table class="table">
        <thead>
        {{#with hifi.currentSound.track as |item|}}
            <tr class="nowrap">
                <th>{{item.artist}}</th>
                <th>{{item.title}} </th>
                <th class="duration"> {{format-duration item.length "sec"}} </th>
                <th class="duration"> {{fa-icon "close"}}</th>
            </tr>
        {{/with}}
        </thead>
    <tbody>
        {{#each queue.items as |item|}}
            <tr class="nowrap">
                <td>{{item.artist}}</td>
                <td>{{item.title}} </td>
                <td class="duration"> {{format-duration item.length "sec"}} </td>
                <td class="duration"> {{fa-icon "close"}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
