<table class="table-hover table">
    <tbody>
        {{#each model as |item|}}
            {{#context-menu-zone tagName="tr" class="nowrap" type="track" objectId=item.id action=(action "send" false true "track" true item.id)}}
                <td class="track">{{item.track}} </td>
                <td>{{item.artist}}</td>
                <td>
                        {{item.title}}
                </td>
                <td>{{item.album}}</td>
                <td class="duration">{{format-duration item.length "sec"}} </td>
            {{/context-menu-zone}}
        {{/each}}
    </tbody>
</table>
{{#infinity-loader infinityModel=model}}
    {{#if model.reachedInfinity}}
    {{else}}
        <div class="spinner">
            <i class="fa fa-spinner fa-spin fa-4x"></i>
        </div>
    {{/if}}
{{/infinity-loader}}
{{#bs-modal open=showAlbum footer=false}}
    {{#if selectedAlbum}}
        {{album-view albumId=selectedAlbum}}
    {{/if}}
{{/bs-modal}}
