<table class="table">
    {{#each model as |item|}}
        <tbody>
            <tr class="nowrap">
                <td class="track"> {{item.track}} </td>
                <td> {{item.artist}} </td>
                <td> {{item.title}} </td>
                <td> {{item.album}} </td>
                <td class="duration"> {{format-duration item.length "sec"}} </td>
            </tr>
        </tbody>
    {{/each}}
    {{#infinity-loader infinityModel=model}}
    {{/infinity-loader}}
</table>
